%h2 Directors

- directors_by_last_name = Director.all.group_by {|d| d.name.split(' ')[-1][0].downcase}

- ('a'..'z').each do |c|
  - if directors_by_last_name[c]
    %h4= c.capitalize
    - directors_by_last_name[c].each do |director|
      = link_to director.last_comma_first, director
