#nav
  %a.nav_item#nav_features{href: articles_path}
  %a.nav_item#nav_mini{href: mini_reviews_path}
  %a.nav_item#nav_directors{href: directors_path}
  %a.nav_item#nav_about{href: about_path}
  %a.nav_item#nav_contact{href: contact_path}
  %a.nav_item#nav_reviews{href: reviews_path}
